.site-navbar .site-navigation .site-menu > li > a {
    color: #fff;
}
.site-navbar.on .site-navigation .site-menu > li > a {
    color: #000;
}
.sticky-wrapper .site-navbar.on .site-logo a > .logo {
    background-image: url(../images/logo.png);
}
/**
    header
 */
#home-section {
    position: relative;
    overflow: hidden;
}
#home-section .is-inview>img {
    width: 100%;
}
#home-section .inner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
}
#home-section .section-header {
    position: absolute;
    bottom: 7%;
    width: 62.638%;
    left: 4.583%;
}
#home-section .section-header>img {
    width: 100%;
}


/**
    section styles
 */
.site-section .section-header {
    font-size: 14px;
    transition: font-size .2s;
}

.first {
    padding: 40px 0 20px 0;
}
.first .inner {
    overflow: hidden;
}
.first .waypoint-wrapper {
    width: 70.555%;
    margin: 0 auto;
}
.first .section-header--sub-title {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    line-height: 1.3;
}
.first .section-header--title {
    margin-bottom: 5%;
    width: 62.916%;
    max-width: 453px;
}
.first .section-header--content {
    font-size: 14px;
    margin-bottom: 5%;
    letter-spacing: -1px;
    line-height: 1.3;
}


.second {
    padding: 20px 0 0 0;
    z-index: 3;
}
.second .waypoint-visual {
    /*overflow: hidden;*/
}
.second .waypoint-visual>img {
    transform: scale(1.5);
    transition: transform 1s;
}
.second .waypoint-visual.scaleInit>img {
    transform: scale(1);
}
.second .waypoint-visual-01 {
    position: relative;
    width: 100%;
    max-width: 100%;
    left: 0;
    transform: none;
    z-index: 2;
}
.second .waypoint-visual-02 {
    position: absolute;
    width: 48.3333%;
    right: 0;
    top: 18%;
}
.second .waypoint-img {
    position: absolute;
    width: 32.0833%;
    right: 8%;
    top: -60%;
    transition: transform .1s ease-out;
}
.second .section-header--title {
    font-size: 42px;
    letter-spacing: -1px;
    font-weight: 600;
}
.second .section-header--content {
    font-size: 14px;
    margin-bottom: 5%;
    letter-spacing: -1px;
    line-height: 1.4;
}


.six {
    z-index: 2;
    padding: 0;
}
.six .header-visual {
    overflow: hidden;
    text-align: center;
}
.six .footer-visual {
    background-image: url(../images/about/mobile/06_footer_visual.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#root .six .footer-visual .inner {
    max-width: 100%;
    padding: 120px 15px 30px 15px;
}
.six .waypoint-img {
    position: relative;
    width: 41.5277%;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 292px;
    margin-bottom: 10%;
}
.six .section-content {
    margin-bottom: 4%;
}
.six .section-footer {
    margin-bottom: 20px;
    flex-flow: column wrap;
}
.six .section-footer .section-footer--item {
    flex: 1;
    padding: 17px;
    font-size: 14px;
    color: #fff;
    letter-spacing: -0.4px;
    line-height: 1.4;
}
.six .section-footer .section-footer--item:nth-of-type(1) {
    order: 1;
}
.six .section-footer .section-footer--item:nth-of-type(2) {
    order: 0;
}
.six .section-footer .section-footer--item:nth-of-type(3) {
    order: 2;
}
.six .section-footer .section-footer--item p {
    margin: 0;
}
.six .section-footer .section-footer--item a {
    color: #fff;
    text-decoration: none;
}
.six .section-footer .section-footer--item .section-footer--item-logo {
    margin-bottom: 25px;
}
.six .section-footer .section-footer--item .section-footer--sns-item {
    padding: 0 10px;
}
.six .section-copyright {
    font-size: 14px;
    color: #fff;
    padding: 0 17px;
}
.six .swiper--insta .swiper-slide>a {
    display: block;
    margin: 10px;
    text-align: center;
}
.six .swiper--insta .swiper-slide > a {
    display: block;
    overflow: hidden;
}
.six .swiper--insta .swiper-slide > a > img {
    transition: transform .3s;
}




.swiper-button-next-custom,
.swiper-button-prev-custom {
    position: absolute;
    width: 10.4166%;
    height: auto;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper-button-next-custom {
    right: 0;
    background-image: none;
}
.swiper-button-prev-custom {
    left: 0;
    background-image: none;
}



@media (min-width: 480px) {
    .site-section .section-header {
        font-size: 20px;
    }
}


@media (min-width: 576px) {
    .site-section .section-header {
        font-size: 28px;
    }

    .first .section-header--sub-title {
        font-size: 26px;
    }
    .first .section-header--title {
        margin-bottom: 5%;
    }
    .first .section-header--content {
        font-size: 20px;
    }

    .second .waypoint-img {
        top: -50%;
    }
    .second .section-header--title {
        font-size: 52px;
    }
    .second .section-header--content {
        font-size: 18px;
        margin-bottom: 5%;
    }
}


@media (min-width: 768px) {
    .site-section .section-header {
        font-size: 36px;
    }

    #home-section {
        height: auto;
    }
    #home-section .section-header {
        position: absolute;
        bottom: 15%;
        width: 36.4583%;
        left: 11.7%;
    }

    .first {
        padding: 80px 0 40px 0;
    }
    .first .waypoint-wrapper {
        width: 57.5%;
        margin: 0 auto 40px auto;
        max-width: 750px;
    }
    .first .section-header--sub-title {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .first .section-header--title {
        margin-bottom: 5%;
    }
    .first .section-header--content {
        font-size: 23.99px;
        margin-bottom: 5%;
    }


    .second {
        padding: 0;
        background: transparent;
    }
    .second .section-header--title {
        font-size: 60px;
    }
    .second .section-header--content {
        font-size: 23px;
        margin-bottom: 5%;
    }
    .second .waypoint-visual-01 {
        position: relative;
        width: 90%;
        max-width: 1270px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .second .waypoint-visual-02 {
        width: 27.1354%;
        right: 8.4%;
        top: 33%;
    }
    .second .waypoint-img {
        width: 24.296875%;
        right: 3%;
        top: 50%;
        z-index: 3;
    }


    .six {
        padding: 0;
        margin-top: -100px;
    }
    .six .footer-visual {
        background-image: url(../images/about/06_footer_visual.png);
    }
    #root .six .footer-visual .inner {
        max-width: 1560px;
        padding: 15% 15px 60px 15px;
    }
    .six .swiper--insta .swiper-slide > a:hover > img {
        transform: scale(1.1);
    }


    .swiper-button-next-custom,
    .swiper-button-prev-custom {
        width: 52px;
        height: 52px;
    }
    .swiper-button-next-custom {
        right: -26px;
        background-image: url(../images/about/btn_next.png);
    }
    .swiper-button-prev-custom {
        left: -26px;
        background-image: url(../images/about/btn_prev.png);
    }
}


@media (min-width: 991.98px) {
    .site-section .section-header {
        font-size: 49.99px;
    }

    .first {
        padding: 120px 0 40px 0;
    }

    .six .section-footer {
        flex-flow: row wrap;
    }
    .six .section-footer .section-footer--item:nth-of-type(1) {
        order: 0;
    }
    .six .section-footer .section-footer--item:nth-of-type(2) {
        order: 1;
    }
    .six .section-footer .section-footer--item:nth-of-type(3) {
        order: 2;
    }

    .six .waypoint-img {
        width: 18.7179%;
        top: -10%;
        max-width: 299px;
        margin-bottom: 0;
    }
}

@media (min-width: 1199.98px) {
    .site-blocks-cover, .site-blocks-cover > .container {
        min-height: auto;
        max-height: 1080px;
    }
}