@font-face {
  font-family: 'HGGGothicssiP60gA';
  src: url('HGGGothicssiP60gA.eot');
  src: url('HGGGothicssiP60gA.eot?#iefix') format('embedded-opentype'),
       url('HGGGothicssiP60gA.svg#HGGGothicssiP60gA') format('svg'),
       url('HGGGothicssiP60gA.ttf') format('truetype'),
       url('HGGGothicssiP60gA.woff') format('woff'),
       url('HGGGothicssiP60gA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

